[Unit]
Description=qBittorrent Command Line Client
After=network.target

[Service]
#Do not change to "simple"
Type=forking
User=ubuntu
Group=ubuntu
UMask=0022
ExecStart=/usr/bin/qbittorrent-nox -d --webui-port=5252
Restart=on-failure

[Install]
WantedBy=multi-user.target
